*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #fbc73b;
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
}

.wrapper {
	margin: 100px auto 50px auto;
	max-width: 1080px;
}

.stage {
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}

/*************************************
Build the scene and rotate on hover
**************************************/
/* 建立场景并在点击的旋转视图 */
.scene {
	width: 260px;
	height: 400px;
	margin: 30px;
	float: left;
	/* 查看视角通过图与视角的像素来决定 */
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: 260px;
	height: 400px;
	/* movie所有子元素在3D空间中呈现。 */
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}
/* 控制旋转角度 */
.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/
/* 盒子底部阴影的3d动画 */
.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	/* 控制阴影转换的具体位置 ，因在盒子底部*/
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	/* 三种transform为了适配各种类型的浏览器 */
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}
/* poster information */
.title{
	height: 40px;
	display: flex;
	align-items: center;
}
.title_imgs{
	margin-left: 10px;
	width: 60px;
	height: 20px;
	background-size: contain;
}
.title_code{
	margin-left: 5px;
	width: 12px;
	height: 12px;
	background: url(/img/二维码\(1\).png) no-repeat;
	background-size: cover;

}
.title_profile{
	text-indent: 5px;
	/* width: 40px;
	height: 20px; */
	font-size: 10px;
	color: rgb(138, 137, 137);
}
.shop{
	color: rgb(160, 158, 158);
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.shop_info{
	width: 120px;
	height: 156px;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	align-items: center;
	justify-content: space-around;
}
.shop_img{
	width: 105px;
	height: 85px;
	background-size: cover;


}
.shop_title{
	display: block;
	height: 30px;
	margin-top: 10px;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: 11px;
	color: rgb(121, 121, 121);
}
.shop_title:hover{
	color: #f40;
}
.shop_profile{
	letter-spacing: 0.5px;

}
.smile{
	display: block;
	margin-top: 10px;
	color: rgb(87, 163, 250);
	text-indent: 17px;
	text-decoration: none;
	letter-spacing: 1px;
	align-items: flex-start;
	background: url(/img/笑脸.png) no-repeat;
	background-size: contain;
}
.shop_guang_title{
	display: flex;
	height: 40px;
	width: 100px;
	text-align: center;
	margin: 10px 0 5px 0;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: 9px;
	color: rgb(121, 121, 121);
}
.shop_guang_title:hover{
	color: #f40;
}
.touxiang{
	
	display: flex;
	height: 30px;
	width: 100px;
	align-items: center;
	justify-content: center;

}
.touxiang_img{
	width: 16px;
	height: 16px;
	background-size: contain;
	border-radius: 8px;
}
.tou_txt{
	color: rgb(121, 121, 121);
	text-indent: 10px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
}
.tou_txt:hover{
	color: rgb(87, 163, 250);
}
/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/
/* 3d转换时侧边的高亮 */
.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images
**************************************/

.scene:nth-child(1) .movie .poster {
  background: url(../img/title_youhaohuo.png) -156px 6px;
  background-size: cover;
}

.scene:nth-child(2) .poster {
  /* background-image: url(../img/poster02.jpg); */
  background: url(../img/guangjiehaibao.png) -174px 3px;
  background-size: cover;
}

.scene:nth-child(3) .poster {
  /* background-image: url(../img/poster03.jpg); */
}

.scene:nth-child(1) .info header {
	/* background-image: url(../img/still01.jpg); */
}

.scene:nth-child(2) .info header {
	background-image: url(../img/still02.jpg);
}

.scene:nth-child(3) .info header {
	background-image: url(../img/still03.jpg);
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster, 
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}
