.login {
  margin-top: 100px;
  height: 475px;
  background-color: #841e08;
}
.login_box {
  position: relative;
  margin: 0 auto;
  width: 990px;
  height: 475px;
  background: url(/imgs/jdlogin_bg.jpg) center no-repeat;
}
.login_form {
  /* 父子关系内边距，兄弟关系外边距 */
  position: absolute;
  right: 0;
  top: 10px;
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #ddd;
  border-radius: 6px;
}

.form_head {  
  color: #999999;
  height: 38px;
  font-size: 12px;
  line-height: 38px;
  background: #fff8f0 url(/imgs/warning.png) 30px center no-repeat;
  /* 首行缩进 */
  text-indent: 50px;
}
.login_way{
    display: flex;
    height: 55px;
    align-items: center;
    border-bottom: #efefef 1px solid;

}
.way{
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}
.sep{
    border-right: #efefef 1px solid;
}
.selected{
    color: #e4393c;
    font-weight: 600;
}
.form{
    padding: 20px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 并集选择器 */
.form_el_box,
.form_el_hide{
    height: 38px;
    border: transparent 1px solid;

}
.form_el_hide{
    text-align: right;
}
.form_el_box{
    border-color: #bdbdbd;
    display: flex;
    align-items: center;
}
/* label */
.form_lbl{
    width:35px;
    height: 35px;
    background: #eee center no-repeat;
    border-right: #bdbdbd 1px solid;
}
.lbl_name{
    background-image: url(/imgs/user.png);
}
.lbl_pass{
    background-image: url(/imgs/password.png);
}
/* .loginButton{
    color: #eee;
    font-weight: bold;
    height: 40px;
    background-color: #d8320d;
    box-shadow: 0 0 10px #ddd;
    border-radius: 4px;
} */
.form_txt{
    /* 文本缩进 */
    text-indent: 10px;
    /* 文字间距 */
    letter-spacing: 2px;
    /* 扩展比率，此时只有文本框为1，占据所有剩余空间 */
    flex-grow: 1;
}
.forgetpass:hover{
    color: #e4393c;
    text-decoration: underline;
}
.loginButton{
    height: 30px;
    background-color: #e4393c;
    color: #fff;
    font-size: 20px;
    letter-spacing: 20px;
    line-height: 30px;
    text-align: center;
    /* 文字不被选中 */
    user-select: none;
    /* 将鼠标变成手 */
    cursor: pointer;
}
.loginButton:hover{
    /* 透明度 */
    opacity: 0.9;
    /* box-shadow: 0 0 30px #ddd; */
}
.loginButton:active{
    /* 透明度 */
    opacity: 0.9;
    /* box-shadow: 0 0 30px #ddd; */
}
.form_foot{
    padding: 0 20px;
    height: 50px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.other_login{
    width: 150px;
    display: flex;
}
.tecent{
    flex-grow: 1;
    background: 10px center no-repeat;
    text-indent: 38px;
    /* 将图片等比例缩放到保证整张图片在盒子里 */
    background-size: contain;
}
.qq{
    background-image: url(/imgs/qq.png);
    border-right: #bbb 1px solid;
}
.wx{
    background-image: url(/imgs/weixin.png);
}
.reg{
    text-indent: 24px;
    color: #e4393c;
    cursor: pointer;
    background: url(/imgs/reg-icon.png) left center no-repeat;
}
.reg:hover{
    text-decoration: underline;
}